.navbar {
    width : 100%;
    background-color: #001219;
    padding : 1rem 0.5rem;
    color: #f1faee;
    font-size : 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    text-align: center;
}



